  {{#if editando}}
      <form role="form">
      <div class="form-group">
        <label for="nombre">nombre</label>
        {{input id='nombre' class="form-control" value=nombre}}
      </div>
      <div class="form-group">
        <label for="apellido">apellido</label>
        {{textarea id='apellido' class="form-control" value=apellido}}
      </div>
      <button type="submit" class="btn btn-default" {{action 'modificar'}}>Guardar</button>

      </form>
    {{/if}}
    {{#unless editando}}
    <a href="#" {{action 'editar'}}>Editar</a>
    <a href="#" {{action 'eliminar'}}>Eliminar</a>
    {{/unless}}
    <h1>
    {{nombre}} <small>{{apellido}}</small>
    </h1>



